# Dependency directories (VERY IMPORTANT)
node_modules/

# Root
.DS_Store

# Server
server/.env
server/node_modules/
server/uploads/*
!server/uploads/.gitkeep

# Client
client/.env
client/node_modules/
client/dist/

# Lock files
package-lock.json
client/package-lock.json
server/package-lock.json